<main>
    <section class="start-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-6 col-lg-7 col-md-7 col-sm-12 start-text-col">
                    <div class="start-texts">
                        <h2 class="start-title"><span class="start-title-span">MelodyWay</span> Şarkınızı Oylayın
                        </h2>
                        <p class="start-text">Kafelerde çalınmasını istediğiniz şarkıları oylayın.</p>
                    </div>
                    <div class="start-buttons">
                        <a href="#work" class="start-btn">Nasıl Çalışır</a>
                        <a href="#contact" class="start-btn">Bizimle İletişime Geçin</a>
                    </div>
                </div>
                <div class="col-12 col-xl-6 col-lg-5 col-md-4 col-sm-12 start-image-col">
                    <img src="/public/img/logo.png" class="start-img" alt="Logo">
                </div>
            </div>
        </div>
    </section>


    <section id="about" class="why-section mt-5 mb-5">
        <div class="var-header">
            <h3 class="var-title">Neden MelodyWay?</h3>
        </div>
        <div class="var-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 why-cols">
                        <div class="why-box">
                            <i class="bi bi-clock why-icon"></i>
                            <h4 class="why-title">
                                Zaman Kazanın
                            </h4>
                            <p class="why-text">
                                Müşterilerinize daha hızlı ve etkili bir hizmet sunun. Zaman kazanarak daha fazla
                                müşteriye hitap edin.
                            </p>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 why-cols">
                        <div class="why-box">
                            <i class="bi bi-check-circle why-icon"></i>
                            <h4 class="why-title">
                                Müşteri Memnuniyeti
                            </h4>
                            <p class="why-text">
                                Müşterilerinizin favori şarkılarını seçme şansı sunarak onları mutlu edin.
                                Memnuniyeti artırın.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 why-cols">
                        <div class="why-box">
                            <i class="bi bi-emoji-smile why-icon"></i>
                            <h4 class="why-title">
                                Eğlenceli Atmosfer
                            </h4>
                            <p class="why-text">
                                MelodyWay ile kafelerinize eğlenceli bir atmosfer katın. Müşteriler arasında
                                interaktif bir deneyim yaratın.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="work" class="work-section mt-5">
        <div class="container">
            <div class="row">
                <div class="work-box">
                    <div class="row">
                        <div class="col-12 col-xl-5 col-lg-5 col-md-12">
                            <h2 class="work-title">
                                Nasıl Çalışır
                            </h2>
                            <p class="work-text">MelodyWay Kullanım Adımları</p>
                        </div>
                        <div class="col-12 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12 step-col">
                            <div class="row">
                                <div class="work-step mb-5">
                                    <h3 class="step-num">1</h3>
                                    <p class="step-text">Masanızda bulunan qr kodları okutarak sitemize giriş yapın
                                    </p>
                                </div>
                                <div class="work-step mb-5">
                                    <h3 class="step-num">2</h3>
                                    <p class="step-text">Mevcut 4 şarkıdan dinlemek istediğiniz şarkıyı oylayın</p>
                                </div>
                                <div class="work-step">
                                    <h3 class="step-num">3</h3>
                                    <p class="step-text">Özel istek göndererek anında şarkınızı açın</p>
                                </div>
                                <div class="work-step">
                                    <h3 class="step-num">4</h3>
                                    <p class="step-text">Son olarak oylanan şarkıyı keyifle dinleyin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- 
        <section class="testimonials-section mt-5">
            <div class="var-header">
                <h3 class="var-title">Testimonials</h3>
                <p class="var-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, magnam.</p>
            </div>
            <div class="var-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonials-cols">
                            <div class="testimonials-box">
                                <div class="testimonials-header">
                                    <img src="img/testimonials-img.svg" alt="Testimonials" class="testimonials-img">
                                    <div class="testimonials-information">
                                        <h4 class="testimonials-name">John Doe</h4>
                                        <p class="testimonials-job">Web Developer</p>
                                    </div>
                                </div>
                                <div class="testimonials-starts">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                                <div class="testimonials-footer">
                                    <p class="testimonials-text">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam ab saepe veniam
                                        cupiditate ipsam itaque!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonials-cols">
                            <div class="testimonials-box">
                                <div class="testimonials-header">
                                    <img src="img/testimonials-img.svg" alt="Testimonials" class="testimonials-img">
                                    <div class="testimonials-information">
                                        <h4 class="testimonials-name">John Doe</h4>
                                        <p class="testimonials-job">Web Developer</p>
                                    </div>
                                </div>
                                <div class="testimonials-starts">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                                <div class="testimonials-footer">
                                    <p class="testimonials-text">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam ab saepe veniam
                                        cupiditate ipsam itaque!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 testimonials-cols">
                            <div class="testimonials-box">
                                <div class="testimonials-header">
                                    <img src="img/testimonials-img.svg" alt="Testimonials" class="testimonials-img">
                                    <div class="testimonials-information">
                                        <h4 class="testimonials-name">John Doe</h4>
                                        <p class="testimonials-job">Web Developer</p>
                                    </div>
                                </div>
                                <div class="testimonials-starts">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </div>
                                <div class="testimonials-footer">
                                    <p class="testimonials-text">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam ab saepe veniam
                                        cupiditate ipsam itaque!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- 
        <section class="faq-section mt-5">
            <div class="var-header">
                <h3 class="var-title">SSS</h3>
                <p class="var-text">Merak Ettiğiniz Soruların Cevabını Alın</p>
            </div>
            <div class="var-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12 faq-box faq-deactive" id="faq-box">
                            <div class="faq-header">
                                <p class="faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus.
                                </p>
                                <div class="faq-btn" onclick="faqControl()">
                                    <i class="faq-icon bi bi-chevron-down"></i>
                                </div>
                            </div>
                            <div class="faq-footer">
                                <p class="faq-footer-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptatum
                                    voluptates
                                    quibusdam, quidem, quas quos voluptate quae quia quod quibusdam, quidem, quas quos
                                    voluptate quae quia quod
                                </p>
                            </div>
                        </div>
                        <div class="col-12 faq-box faq-deactive" id="faq-box-2">
                            <div class="faq-header">
                                <p class="faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus.
                                </p>
                                <div class="faq-btn" onclick="faqControl2()">
                                    <i class="faq-icon bi bi-chevron-down"></i>
                                </div>
                            </div>
                            <div class="faq-footer">
                                <p class="faq-footer-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptatum
                                    voluptates
                                    quibusdam, quidem, quas quos voluptate quae quia quod quibusdam, quidem, quas quos
                                    voluptate quae quia quod
                                </p>
                            </div>
                        </div>
                        <div class="col-12 faq-box faq-deactive" id="faq-box-3">
                            <div class="faq-header">
                                <p class="faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus.
                                </p>
                                <div class="faq-btn" onclick="faqControl3()">
                                    <i class="faq-icon bi bi-chevron-down"></i>
                                </div>
                            </div>
                            <div class="faq-footer">
                                <p class="faq-footer-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptatum
                                    voluptates
                                    quibusdam, quidem, quas quos voluptate quae quia quod quibusdam, quidem, quas quos
                                    voluptate quae quia quod
                                </p>
                            </div>
                        </div>
                        <div class="col-12 faq-box faq-deactive" id="faq-box-4">
                            <div class="faq-header">
                                <p class="faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus.
                                </p>
                                <div class="faq-btn" onclick="faqControl4()">
                                    <i class="faq-icon bi bi-chevron-down"></i>
                                </div>
                            </div>
                            <div class="faq-footer">
                                <p class="faq-footer-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptatum
                                    voluptates
                                    quibusdam, quidem, quas quos voluptate quae quia quod quibusdam, quidem, quas quos
                                    voluptate quae quia quod
                                </p>
                            </div>
                        </div>
                        <div class="col-12 faq-box faq-deactive" id="faq-box-5">
                            <div class="faq-header">
                                <p class="faq-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus.
                                </p>
                                <div class="faq-btn" onclick="faqControl5()">
                                    <i class="faq-icon bi bi-chevron-down"></i>
                                </div>
                            </div>
                            <div class="faq-footer">
                                <p class="faq-footer-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptatum
                                    voluptates
                                    quibusdam, quidem, quas quos voluptate quae quia quod quibusdam, quidem, quas quos
                                    voluptate quae quia quod
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
    <!-- 
        <section id="pricing" class="pricing-section mt-5">
            <div class="var-header">
                <h3 class="var-title">Planlar ve Fiyatlandırma</h3>
                <p class="var-text">Kafenizde Uygulamak İstediğiniz Planları İnceleyin</p>
            </div>
            <div class="var-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 pricing-col">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <p class="pricing-title">Bronz</p>
                                    <p class="pricing-price">xxxx₺</p>
                                    <div class="pricing-features">
                                        <ul class="pricing-features-ul">
                                            <li class="pricing-features-li"><i
                                                    class="bi bi-check-circle pricing-icon"></i>
                                                Özellik</li>
                                            <li class="pricing-features-li"><i
                                                    class="bi bi-check-circle pricing-icon"></i>
                                                Özellik</li>
                                            <li class="pricing-features-li"><i
                                                    class="bi bi-check-circle pricing-icon"></i>
                                                Özellik</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing-footer">
                                    <a href="#contact" class="pricing-btn">Bilgi Alın</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 pricing-col">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <p class="pricing-title">Demir</p>
                                    <p class="pricing-price">xxxx₺</p>
                                    <div class="pricing-features">
                                        <ul class="pricing-features-ul">
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing-footer">
                                    <a href="#contact" class="pricing-btn">Bilgi Alın</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 pricing-col">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <p class="pricing-title">Altın</p>
                                    <p class="pricing-price">xxxx₺</p>
                                    <div class="pricing-features">
                                        <ul class="pricing-features-ul">
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                            <li class="pricing-features-li"><i
                                                class="bi bi-check-circle pricing-icon"></i>
                                            Özellik</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing-footer">
                                    <a href="#contact" class="pricing-btn">Bilgi Alın</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section> -->

    <section id="contact" class="contact-section mt-5">
        <div class="var-header">
            <h3 class="var-title">İletişime Geçin</h3>
            <p class="var-text">MelodyWay İle İletişime Geçin</p>
        </div>
        <div class="var-footer">
            <div class="container">
                <div class="row">
                    <div class="contact-box">
                        <div class="row">
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 contact-form-col">
                                <div class="contact-header">
                                    <h3 class="contact-title">İşletmeler İçin MelodyWay </h3>
                                </div>
                                <div class="contact-form">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-6">
                                                <input name="name" class="contact-input" placeholder="İsim..."
                                                    type="text">
                                            </div>
                                            <div class="col-6">
                                                <input class="contact-input" name="surname" placeholder="Soyisim..." type="text">
                                            </div>
                                            <div class="col-6">
                                                <input name="city" class="contact-input" placeholder="İliniz..."
                                                    type="text">
                                            </div>
                                            <div class="col-6">
                                                <input name="district" class="contact-input" placeholder="İlçeniz..."
                                                    type="text">
                                            </div>
                                            <div class="col-6">
                                                <input name="caffeName" class="contact-input" placeholder="Kafe Adı..."
                                                    type="text">
                                            </div>
                                            <div class="col-6">
                                                <input name="tableAmount" class="contact-input" placeholder="Masa Sayısı..."
                                                    type="text">
                                            </div>
                                            <div class="col-6">
                                                <input name="phone" class="contact-input" placeholder="Telefon..."
                                                    type="phone">
                                            </div>
                                            <div class="col-6">
                                                <input name="subject" class="contact-input" placeholder="Konu..."
                                                    type="text">
                                            </div>
                                            <div class="col-12">
                                                <textarea name="message" class="contact-textarea"
                                                    placeholder="Mesaj..."></textarea>
                                            </div>
                                            <div class="col-12 contact-btn-col">
                                                <button value="addMessage" name="addMessage" class="contact-btn">Gönder</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 contact-information-col">
                                <div class="information-header">
                                    <h3 class="info-title">İletişim Bilgileri</h3>
                                </div>
                                <div class="info-infos">
                                    <ul>
                                        <li class="infos-li"><i class="bi bi-envelope-fill"></i> E-Posta:
                                            <%= fetch.email%>
                                        </li>
                                        <li class="infos-li"><i class="bi bi-telephone-fill"></i> Telefon:
                                            <%= fetch.phone%>
                                        </li>
                                        <li class="infos-li"><i class="bi bi-geo-alt-fill"></i> Adres:
                                            <%= fetch.adress%>
                                        </li>
                                    </ul>
                                </div>
                                <div class="info-socials">
                                    <a href="<%= fetch.facebook %>" target="_blank"><i
                                            class="bi bi-facebook"></i></a>
                                    <a href="<%= fetch.instagram%>" target="_blank"><i
                                            class="bi bi-instagram"></i></a>
                                    <a href="<%= fetch.twitter%>" target="_blank"><i class="bi bi-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- 
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWOllOWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK,  ;XMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK,  ;KMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK,  ;KMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMWXXXXXXXk'  'OXXXXXXXWMMMMMMMMMMMMWNXXXXXXXXXXXXXXXXXXXWMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMKc........    ........cXMMMMMMMMMMXl....................cKMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMXl'''''''.    .'''''''lXMMMMMMMMMMXl'...................cKMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMWNNNNNNNO'  ,0NNNNNNNWMMMMMMMMMMMMWNNNNNNNNNNNNNNNNNXNNWMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK,  ;KMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK,  ;KMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMK;  ;XMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW0dd0WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMXo.'l0WMMMMMMMMMMMMMMMMMMMMMMMMMMNOc.'dNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMW0:. .;okKNWMMMMMMMMMMMMMMMMWN0kl,. .lKMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWOc.   .';clodxxxkkkxxdolc;..   'o0WMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXkl;.                   ..;oONMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX0xol:;;,,,,,,;:cldk0XWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWWWWWWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
 -->
